package {{ package }}.dto;

public class {{ dto_name }} {

{% for field in fields %}
    private {{ field.type }} {{ field.name }};

{% endfor %}
    public {{ dto_name }}() {
    }

{% for field in fields %}
    public {{ field.type }} get{{ field.name | capitalize }}() {
        return {{ field.name }};
    }

    public void set{{ field.name | capitalize }}({{ field.type }} {{ field.name }}) {
        this.{{ field.name }} = {{ field.name }};
    }

{% endfor %}
}
