package {{ package }}.entity;

import javax.persistence.*;
import java.time.LocalDateTime;

@Entity
@Table(name = "{{ table_name }}")
public class {{ entity_name }} {

{% for field in fields %}
    {{ field.annotation }}
    private {{ field.type }} {{ field.name }};

{% endfor %}
    public {{ entity_name }}() {
    }

{% for field in fields %}
    public {{ field.type }} get{{ field.name | capitalize }}() {
        return {{ field.name }};
    }

    public void set{{ field.name | capitalize }}({{ field.type }} {{ field.name }}) {
        this.{{ field.name }} = {{ field.name }};
    }

{% endfor %}
}
